body {
  width: 800px;
  margin: auto;
}

h1 {
  color: #7FBCFF;
  font-family: Georgia, serif;
  font-size: 3em;
  font-weight: 100;
  margin: 1em 0 0.1em 0;
}

.footer {
  color: #999;
  font-size: 0.6em;
  text-align: right;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 1em
}
